/*General styles*/

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

section {
    padding-bottom: 100px;
    padding-top: 100px;
    ;
}

h1 {
    margin: 0;
    font-size: 59px;
    font-weight: 700;
}

p {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 27px;
}

.btn {
    margin-top: 30px;
    border-radius: 0%;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


/*General styles - end*/


/*Menu*/

.navbar {
    background-color: rgba(250, 249, 251, 0.5);
    border: none;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-default .navbar-brand {
    font-family: Pacifico, cursive;
    font-size: 50px;
    font-weight: 400;
    color: #262626;
}

.collapse {
    padding-top: 14px;
}

.navbar-default .navbar-nav>li>a {
    color: #262626;
    padding: 0;
    margin: 5px 15px 15px 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover {
    border-top: 3px solid #ff6033;
}


/*Menu - end*/

.home-nav {
    background-image: url(../img/background_menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.btn-warning {
    background-color: #ff6033;
    margin-top: 0px;
}

.force-to-bottom {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
   
}

.mouse {
    padding-top: 15%;
}

.mouse>a {
    display: inline-block;
}

.mouse img {
    border-radius: 10px;
}


/*Section About Us*/

.sec-about {
    background-image: url(../img/background_raspberry.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
}

.position-about {
    margin-top: 140px;
    padding-left: 122px;
}

.sec-about .container .row .col-md-6 p:nth-child(2) {
    margin-bottom: 0px;
}

.sec-about .container .row .col-md-6 p:nth-child(3) {
    margin-top: 10px;
    margin-bottom: 0px;
}


/*Section About Us - end*/


/*Section Services*/

.sec-services {
    background-image: url(../img/background_tomato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
}

.panel {
    width: 400px;
    height: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

.panel img {
    position: absolute;
    top: 50%;
    left: 80%;
    margin-right: -50%;
    transform: translateY(-50%);
}

.panel p {
    position: absolute;
    display: inline-block;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 73%;
    left: 0%;
}

.line {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 1px;
    left: 73%;
    background-color: #333333;
}

.position-services h1 {
    padding-top: 150px;
    font-size: 90px;
}


/*Section Services - end*/


/*Section Gallery*/

.sec-gallery {
    background-color: #ffe92f;
}

.container-gallery-1,
.container-gallery-2-3 {
    height: 550px;
}

.container-gallery-4,
.container-gallery-5 {
    height: 400px;
    margin-top: 30px;
}

.sec-gallery a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.gallery-1,
.gallery-2,
.gallery-3,
.gallery-4,
.gallery-5 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
    transition: .3s;
}

.gallery-1 {
    background-image: url(../img/plate_peach_03.jpg);
}

.gallery-2 {
    background-image: url(../img/berry_blue_05.jpg);
    height: 47.3%;
    margin-bottom: 30px;
}

.gallery-3 {
    background-image: url(../img/berry_black_08.jpg);
    height: 47.3%;
}

.gallery-4 {
    background-image: url(../img/bowl_milk_berry_11.jpg);
}

.gallery-5 {
    background-image: url(../img/kaki_fruit_13.jpg);
}


/*Section Gallery - end*/


/*Section Subscribe*/

.sec-subscribe {
    background-image: url(../img/background_berry.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: #333333;
}

.btn-success {
    margin: 0;
    width: 100%;
}

.input-size {
    width: 100%;
    padding: 12px 16px;
}

.col-sm-6 {
    padding-top: 10px;
}


/*Section Subscribe - end*/


/*Section Blog*/

.sec-blog {
    background-color: #b07cf7;
}

.blog-font {
    color: white;
}

.btn-danger {
    background-color: #f72b3b;
}

.container-blog {
    height: 370px;
    width: 370px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
}

.blog-1:before,
.blog-2:before,
.blog-3:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    background-size: cover;
    background-position: center;
    transition: all .3s;
    height: 100%;
    width: 100%;
}

.blog-1:before {
    background-image: url(../img/smoothie_green.jpg);
}

.blog-2:before {
    background-image: url(../img/soup_green.jpg);
}

.blog-3:before {
    background-image: url(../img/raspberry.jpg);
}

.blog-1:hover:before,
.blog-2:hover:before,
.blog-3:hover:before {
    transform: scale(1.2);
}

.blog-image {
    position: relative;
}

.blog-image>img {
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 25%;
}

.blog-content {
    position: absolute;
    height: 36%;
    top: 238px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.blog-content>h2 {
    display: inline-block;
    padding-left: 28px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
}

.blog-content>p {
    padding-left: 28px;
    padding-bottom: 15px;
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
}


/*Section Blog - end*/


/*Section Form*/

.sec-form {
    background-image: url(../img/background_sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333333;
}

.font-form h1 {
    font-size: 90px;
}

.font-form p,
.position-form-other p {
    margin-top: 0;
}

.position-form-other p span:first-of-type {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.form-control {
    height: 54px;
    background-color: #00c4c4;
}

.form-control::-moz-placeholder {
    color: #ffffff;
}

.form-control:-ms-input-placeholder {
    color: #ffffff;
}

.form-control::-webkit-input-placeholder {
    color: #ffffff;
}

.btn-info {
    background-color: #00c4c4;
    width: 100%;
    margin-top: 0;
}


/*Section Form - end*/


/*Footer*/

.sec-foot {
    background-color: #262626;
    color: #b9b9b9;
}

.sec-foot .container .row .col-md-4:nth-child(2) {
    font-family: Pacifico;
    font-size: 25px;
    font-weight: 400;
}

.sec-foot .container .row .col-md-4 p span {
    color: #ff2b58;
    font-weight: 700;
}


/*Footer - end*/
